[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
catboost = "==0.23"
asgiref = "==3.2.7"
graphviz = "==0.14"
kiwisolver = "==1.2.0"
matplotlib = "==3.2.1"
numpy = "==1.18.4"
pandas = "==1.0.3"
plotly = "==4.7.1"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
retrying = "==1.3.3"
scipy = "==1.4.1"
six = "==1.14.0"
sqlparse = "==0.3.1"
Django = "==3.0.6"
Cycler = "==0.10.0"

[requires]
python_version = "3.7"
